<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Klimaschutzprojekt &#8211; Klimaneutralität BOKU</title>
	<atom:link href="https://xn--klimaneutralitt-elb.boku.ac.at/portfolio-category/klimaschutzprojekt/feed/" rel="self" type="application/rss+xml" />
	<link>https://xn--klimaneutralitt-elb.boku.ac.at</link>
	<description>Klimaneutralität BOKU</description>
	<lastBuildDate>Tue, 14 Jun 2022 09:18:14 +0000</lastBuildDate>
	<language>de-AT</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.1</generator>

<image>
	<url>https://xn--klimaneutralitt-elb.boku.ac.at/wp-content/uploads/2020/05/cropped-Favicon2-1-32x32.png</url>
	<title>Klimaschutzprojekt &#8211; Klimaneutralität BOKU</title>
	<link>https://xn--klimaneutralitt-elb.boku.ac.at</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Waldschutz im kolumbianischen Regenwald / Dorada</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/projects/waldschutz-in-kolumbianischem-regenwald/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=waldschutz-in-kolumbianischem-regenwald</link>
		
		<dc:creator><![CDATA[Paul Dragaschnig]]></dc:creator>
		<pubDate>Sat, 25 Jul 2020 16:48:52 +0000</pubDate>
				<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?post_type=portfolio&#038;p=1559</guid>

					<description><![CDATA[Walderhaltung und Artenschutz durch Naturschutzverträge und Landkauf Im  Zentrum Kolumbiens, Nähe Dorada, befindet sich das Gebiet dieses REDD+ Naturschutzprojekts. Um den Wald, die Tierwelt und Pflanzen zu schützen wird im Rahmen des Las Mercedes Projekts eine Fläche von 600 Hektar als Modell-Landwirtschaft entwickelt und in Kooperation mit lokalen Bäuerinnen und Bauern weitere 7.00 Hektar nachhaltig [&#8230;]]]></description>
		
		
		
			</item>
		<item>
		<title>Aufforstung und natürliche Wiederbewaldung in Nord-Gondar / Äthiopien (Ausfinanziert)</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/projects/aufforstung-und-naturliche-wiederbewaldung-in-nord-gondar-athiopien/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=aufforstung-und-naturliche-wiederbewaldung-in-nord-gondar-athiopien</link>
		
		<dc:creator><![CDATA[dschmelz]]></dc:creator>
		<pubDate>Mon, 04 May 2020 14:47:26 +0000</pubDate>
				<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?post_type=portfolio&#038;p=870</guid>

					<description><![CDATA[BOKU Klimaschutzprojekte Nachhaltiges Management von Weide und Wald Um den Problemen der Entwaldung in Äthiopien zu begegnen, wurde im Rahmen des BOKU Klimaschutzprojektes in Nord-Gondar ein partizipativer Prozess mit den lokalen Stakeholdern gestartet. Es wurden sogenannten „Auszäunungsgebiete“ festgelegt, die durch Umzäunung vor Beweidung geschützt werden. Das ermöglicht eine kontrollierte Aufforstung und eine natürliche Regeneration der [&#8230;]]]></description>
		
		
		
			</item>
		<item>
		<title>Aufforstung und Agroforstwirtschaft in San Miguel / Costa Rica (Ausfinanziert)</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/projects/aufforstung-und-agroforstwirtschaft-in-san-miguel-costa-rica/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=aufforstung-und-agroforstwirtschaft-in-san-miguel-costa-rica</link>
		
		<dc:creator><![CDATA[dschmelz]]></dc:creator>
		<pubDate>Mon, 04 May 2020 14:42:18 +0000</pubDate>
				<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?post_type=portfolio&#038;p=866</guid>

					<description><![CDATA[BOKU Klimaschutzprojekte Lokales Engagement mit globaler Wirkung Tropische Regenwälder sind die artenreichsten Ökosysteme der Erde und zugleich unabkömmlich für die Stabilisierung des globalen Klimas. Im Jänner 2016 wurde begonnen, eine Fläche von 14.6 ha wieder zu bewalden und in einen Sekundärregenwald überzuführen. Damit sollen ca. 4.400 Tonnen CO2 durch oberirdische und unterirdische CO2-Speicherung aus der [&#8230;]]]></description>
		
		
		
			</item>
		<item>
		<title>Sicheres Trinkwasser und saubere Luft für Soroti / Uganda</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/projects/sicheres-trinkwasser-und-saubere-luft-fur-soroti-uganda/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=sicheres-trinkwasser-und-saubere-luft-fur-soroti-uganda</link>
		
		<dc:creator><![CDATA[dschmelz]]></dc:creator>
		<pubDate>Mon, 04 May 2020 14:34:28 +0000</pubDate>
				<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?post_type=portfolio&#038;p=859</guid>

					<description><![CDATA[BOKU Klimaschutzprojekte Aufgreifen von vielfältigen Herausforderungen Der WHO zufolge verfügen etwa 70 Prozent der ländlichen Bevölkerung&#160;Ugandas über keinen Zugang zu sauberem Trinkwasser. Wasser wird durch Kochen über offenem Holzfeuer desinfiziert, was aber auch gesundheitliche Probleme zur Folge hat. Eine Vielzahl von Menschen leidet bereits an schwerwiegenden Lungenkrankheiten, hervorgerufen durch die Luftschadstoffe bei ineffizienter Holzverbrennung. Des [&#8230;]]]></description>
		
		
		
			</item>
		<item>
		<title>Dezentrale Kompostierung in Addis Abeba / Äthiopien</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/projects/dezentrale-kompostierung-in-addis-abeba-athiopien/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=dezentrale-kompostierung-in-addis-abeba-athiopien</link>
		
		<dc:creator><![CDATA[dschmelz]]></dc:creator>
		<pubDate>Mon, 04 May 2020 14:29:30 +0000</pubDate>
				<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?post_type=portfolio&#038;p=855</guid>

					<description><![CDATA[BOKU Klimaschutzprojekte CO2-Einsparung durch Kompostierung von organischem Abfall Unbehandelte Abfälle durch mangelndes Mülltrennen, geringe Recyclingbemühungen und unzureichende Deponierung stellen eine große Belastung der Umwelt und der lokalen Bevölkerung dar. Ziel dieses BOKU-Klimaschutzprojektes in Addis Abeba ist es deshalb, pro Jahr rund 8.000 Tonnen organischen Abfall in nährstoffreichen Kompost zu verwandeln und damit jährlich etwa 200 [&#8230;]]]></description>
		
		
		
			</item>
		<item>
		<title>Aufforstung, Waldschutz und Agroforstwirtschaft in Siwalik und Gauri-Sankar / Nepal</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/projects/aufforstung-waldschutz-und-agroforstwirtschaft-in-siwalik-und-gauri-sankar-nepal/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=aufforstung-waldschutz-und-agroforstwirtschaft-in-siwalik-und-gauri-sankar-nepal</link>
		
		<dc:creator><![CDATA[dschmelz]]></dc:creator>
		<pubDate>Mon, 04 May 2020 14:12:05 +0000</pubDate>
				<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?post_type=portfolio&#038;p=844</guid>

					<description><![CDATA[BOKU Klimaschutzprojekte Dem Druck auf lokale Wälder entgegenwirken In Nepal schwinden große Waldflächen, während Gras- und Strauchlandschaften für die Gewinnung von kurzfristig fruchtbarem Ackerland stetig zunehmen&#160; Ein Grund dafür ist die Abholzung für kurzfristig fruchtbares Ackerland. Auch durch das Erdbeben von 2015 wurde der Druck auf die Wälder als Ressource für Bau- und Feuerholz erhöht. [&#8230;]]]></description>
		
		
		
			</item>
		<item>
		<title>Gemeinschaftliche Biogasanlagen in Gulu / Uganda</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/projects/gemeinschaftliche-biogasanlagen-in-gulu-uganda/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=gemeinschaftliche-biogasanlagen-in-gulu-uganda</link>
					<comments>https://xn--klimaneutralitt-elb.boku.ac.at/projects/gemeinschaftliche-biogasanlagen-in-gulu-uganda/#respond</comments>
		
		<dc:creator><![CDATA[dschmelz]]></dc:creator>
		<pubDate>Mon, 04 May 2020 11:41:23 +0000</pubDate>
				<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?post_type=portfolio&#038;p=817</guid>

					<description><![CDATA[BOKU Klimaschutzprojekte Kleine Biogasanlagen anstatt Entwaldung und Erosion Dieses BOKU-Klimaschutzprojekt reduziert CO2-Emissionen durch den Einsatz von Biogasanlagen. Vermehrtes Kochen auf offenem Feuer führt zu einer starken Waldübernutzung, der Freisetzung von gefährlichen Kohlenstoffverbindungen und Bodenerosion. Die Anschaffung von Holzkohle und Brennholz wird zunehmend zu einer ökonomischen Belastung für die lokale Bevölkerung. Mit dem Bau von kleinen [&#8230;]]]></description>
		
					<wfw:commentRss>https://xn--klimaneutralitt-elb.boku.ac.at/projects/gemeinschaftliche-biogasanlagen-in-gulu-uganda/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
