<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Klimaneutralität BOKU</title>
	<atom:link href="https://xn--klimaneutralitt-elb.boku.ac.at/feed/" rel="self" type="application/rss+xml" />
	<link>https://xn--klimaneutralitt-elb.boku.ac.at</link>
	<description>Klimaneutralität BOKU</description>
	<lastBuildDate>Mon, 20 Jun 2022 10:05:30 +0000</lastBuildDate>
	<language>de-AT</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.1</generator>

<image>
	<url>https://xn--klimaneutralitt-elb.boku.ac.at/wp-content/uploads/2020/05/cropped-Favicon2-1-32x32.png</url>
	<title>Klimaneutralität BOKU</title>
	<link>https://xn--klimaneutralitt-elb.boku.ac.at</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Rückblick Schuljahr 2021/22</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/ruckblick-schuljahr-2021-22/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=ruckblick-schuljahr-2021-22</link>
		
		<dc:creator><![CDATA[Sigrid Karl]]></dc:creator>
		<pubDate>Wed, 15 Jun 2022 12:52:12 +0000</pubDate>
				<category><![CDATA[making A change]]></category>
		<category><![CDATA[Bildung für nachhaltige Entwicklung]]></category>
		<category><![CDATA[BOKU]]></category>
		<category><![CDATA[CO2-Bilanz]]></category>
		<category><![CDATA[CO2-Bilanzierung]]></category>
		<category><![CDATA[Klimaneutralität]]></category>
		<category><![CDATA[Klimaschutz]]></category>
		<category><![CDATA[Klimawissen]]></category>
		<category><![CDATA[Schulen]]></category>
		<category><![CDATA[Vivienne Pirker]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=2840</guid>

					<description><![CDATA[Das Projektteam der BOKU bedankt sich bei den engagierten Schüler:innen und Lehrer:innen für das spannende Projektjahr und freut sich auf ein weiteres erfolgreiches Jahr der CO2-Bilanzierung im Rahmen von makingAchange. ]]></description>
		
		
		
			</item>
		<item>
		<title>Die BOKU trauert um Dominik Schmitz</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/die-boku-trauert-um-dominik-schmitz-1978-2022/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=die-boku-trauert-um-dominik-schmitz-1978-2022</link>
		
		<dc:creator><![CDATA[Sigrid Karl]]></dc:creator>
		<pubDate>Fri, 27 May 2022 05:42:23 +0000</pubDate>
				<category><![CDATA[Nachruf Dominik]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=2808</guid>

					<description><![CDATA[Wir trauern um unseren lieben Kollegen und Freund.]]></description>
		
		
		
			</item>
		<item>
		<title>Bewerbung für das Schuljahr 2022/23</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/bewerbung-fur-das-schuljahr-2022-23/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=bewerbung-fur-das-schuljahr-2022-23</link>
		
		<dc:creator><![CDATA[Sigrid Karl]]></dc:creator>
		<pubDate>Tue, 17 May 2022 09:38:35 +0000</pubDate>
				<category><![CDATA[making A change]]></category>
		<category><![CDATA[Projekte]]></category>
		<category><![CDATA[CO2-Bilanz]]></category>
		<category><![CDATA[nachhaltige Schulen]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=2750</guid>

					<description><![CDATA[Bewerbungen für das Schuljahr 2022/23 sind ab sofort möglich! 
Bewerbungsfrist ist der 22. Juli 2022!]]></description>
		
		
		
			</item>
		<item>
		<title>Wie erstelle ich eine CO2-Bilanz?</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/how-to-co2-bilanz/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=how-to-co2-bilanz</link>
		
		<dc:creator><![CDATA[Sigrid Karl]]></dc:creator>
		<pubDate>Wed, 13 Apr 2022 09:58:08 +0000</pubDate>
				<category><![CDATA[Blogartikel]]></category>
		<category><![CDATA[CO2-Bilanz]]></category>
		<category><![CDATA[CO2-Kompensation]]></category>
		<category><![CDATA[Die Gradwanderer]]></category>
		<category><![CDATA[Joachim Thaler]]></category>
		<category><![CDATA[Klima]]></category>
		<category><![CDATA[Klimaschutz]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=2495</guid>

					<description><![CDATA[Sie möchten ihren Betrieb, Schule oder Organisation bilanzieren? Wissen aber nicht wo Sie anfangen sollen?
Dieser Beitrag gibt Ihnen einen Überblick, wie sie eine CO2-Bilanz erstellen können. ]]></description>
		
		
		
			</item>
		<item>
		<title>Aufforstungsprojekte in tropischen Regenwäldern</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/aufforstungsprojekte-in-tropischen-regenwaldern/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=aufforstungsprojekte-in-tropischen-regenwaldern</link>
		
		<dc:creator><![CDATA[Sigrid Karl]]></dc:creator>
		<pubDate>Mon, 28 Feb 2022 10:32:23 +0000</pubDate>
				<category><![CDATA[Blogartikel]]></category>
		<category><![CDATA[Nachrichten]]></category>
		<category><![CDATA[Aufforstung]]></category>
		<category><![CDATA[BOKU]]></category>
		<category><![CDATA[CO2-Kompensation]]></category>
		<category><![CDATA[Costa Rica]]></category>
		<category><![CDATA[Die Gradwanderer]]></category>
		<category><![CDATA[Forschung]]></category>
		<category><![CDATA[Klimaneutralität]]></category>
		<category><![CDATA[Klimaschutz]]></category>
		<category><![CDATA[Peter Hietz]]></category>
		<category><![CDATA[Regenerierung]]></category>
		<category><![CDATA[Tropischer Regenwald]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=2053</guid>

					<description><![CDATA[Die BOKU Klimaschutzprojekte werden immer wissenschaftlich begleitet und tragen somit auch zu Erkenntnissen in der Forschung bei. Hier geben wir Übersicht über Ergebnisse einer Studie an der auch ein Projektleiter des BOKU-Klimaschutzprojekts in Kolumbien mitgewirkt hat. ]]></description>
		
		
		
			</item>
		<item>
		<title>Kann Tourismus klimaneutral sein?</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/klimaneutraler-tourismus/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=klimaneutraler-tourismus</link>
		
		<dc:creator><![CDATA[Sigrid Karl]]></dc:creator>
		<pubDate>Fri, 12 Nov 2021 14:35:31 +0000</pubDate>
				<category><![CDATA[Blogartikel]]></category>
		<category><![CDATA[Nachrichten]]></category>
		<category><![CDATA[Joachim Thaler]]></category>
		<category><![CDATA[Klimaneutral]]></category>
		<category><![CDATA[Klimaschutz]]></category>
		<category><![CDATA[Tourismus]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=1915</guid>

					<description><![CDATA[Was bedeutet Klimaneutralität und wie wird man eigentlich Klimaneutral? Diese Fragen beantwortet Joachim Thaler in einem Artikel mit speziellem Fokus auf den Tourismus.]]></description>
		
		
		
			</item>
		<item>
		<title>Welchen Einfluss haben Dienstreisen auf das Klima?</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/nachhaltige-dienstreisen/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=nachhaltige-dienstreisen</link>
		
		<dc:creator><![CDATA[Sigrid Karl]]></dc:creator>
		<pubDate>Fri, 12 Nov 2021 14:11:25 +0000</pubDate>
				<category><![CDATA[Blogartikel]]></category>
		<category><![CDATA[Nachrichten]]></category>
		<category><![CDATA[Die Gradwanderer]]></category>
		<category><![CDATA[Dienstreisen]]></category>
		<category><![CDATA[Klima]]></category>
		<category><![CDATA[Klimaneutralität]]></category>
		<category><![CDATA[Klimaschutz]]></category>
		<category><![CDATA[Kurier]]></category>
		<category><![CDATA[nachhaltige Dienstreisen]]></category>
		<category><![CDATA[Sascha Mohnke]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=1909</guid>

					<description><![CDATA[In diesem Beitrag erklärt Sascha Mohnke, welchen Anteil Dienstreisen in der CO2-Bilanz ausmachen. 
Er erklärt, welchen Einfluss Dienstreisen auf das Klima haben und wie man diese nachhaltiger gestalten kann. ]]></description>
		
		
		
			</item>
		<item>
		<title>Wie geht Klimakompensation?</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/klimakompensation/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=klimakompensation</link>
		
		<dc:creator><![CDATA[Sigrid Karl]]></dc:creator>
		<pubDate>Fri, 12 Nov 2021 13:55:33 +0000</pubDate>
				<category><![CDATA[Blogartikel]]></category>
		<category><![CDATA[Nachrichten]]></category>
		<category><![CDATA[CO2-Kompensation]]></category>
		<category><![CDATA[Kompensation]]></category>
		<category><![CDATA[Sascha Mohnke]]></category>
		<category><![CDATA[ZEITonline]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=1903</guid>

					<description><![CDATA[In einem Interview mit der Zeit, gibt Sascha Mohnke Einblick in die Funktionsweise von Klimakompensationen und erklärt, wie diese am besten durchgeführt werden können. ]]></description>
		
		
		
			</item>
		<item>
		<title>Was ist Klimaneutralität?</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/was-ist-klimaneutralitat/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=was-ist-klimaneutralitat</link>
		
		<dc:creator><![CDATA[jbuchebner]]></dc:creator>
		<pubDate>Tue, 28 Jul 2020 11:30:27 +0000</pubDate>
				<category><![CDATA[Blogartikel]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=1587</guid>

					<description><![CDATA[In diesem Beitrag wird der Begriff der Klimaneutralität erklärt. 
Zudem geben wir einen Überblick, wie die Gradwanderung zur Klimaneutralität gelingen kann. ]]></description>
		
		
		
			</item>
		<item>
		<title>Wir feiern unseren Relaunch!</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/wir-sind-bald-online/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=wir-sind-bald-online</link>
		
		<dc:creator><![CDATA[dschmelz]]></dc:creator>
		<pubDate>Thu, 07 May 2020 06:37:10 +0000</pubDate>
				<category><![CDATA[Blogartikel]]></category>
		<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?p=936</guid>

					<description><![CDATA[Wir feiern unseren Relaunch! Nach 10 Jahren unseres Bestehens geht das BOKU CO2 Kompensationssystem in die nächste Runde. Neben einem neuen Namen und einer neuen Website, haben wir auch neue Angebote für unsere Kunden und Kundinnen entwickelt. Erfahren Sie hier mehr die Grad°Wanderer – die BOKU Kompetenzberatungfür Klimaneutralität! Unsere Geschichte im Klimaschutz Im Jahr [&#8230;]]]></description>
		
		
		
			</item>
	</channel>
</rss>
