<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Ausfinanziert &#8211; Klimaneutralität BOKU</title>
	<atom:link href="https://xn--klimaneutralitt-elb.boku.ac.at/portfolio-tag/ausfinanziert/feed/" rel="self" type="application/rss+xml" />
	<link>https://xn--klimaneutralitt-elb.boku.ac.at</link>
	<description>Klimaneutralität BOKU</description>
	<lastBuildDate>Mon, 11 Apr 2022 14:07:14 +0000</lastBuildDate>
	<language>de-AT</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.1</generator>

<image>
	<url>https://xn--klimaneutralitt-elb.boku.ac.at/wp-content/uploads/2020/05/cropped-Favicon2-1-32x32.png</url>
	<title>Ausfinanziert &#8211; Klimaneutralität BOKU</title>
	<link>https://xn--klimaneutralitt-elb.boku.ac.at</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Aufforstung und natürliche Wiederbewaldung in Nord-Gondar / Äthiopien (Ausfinanziert)</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/projects/aufforstung-und-naturliche-wiederbewaldung-in-nord-gondar-athiopien/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=aufforstung-und-naturliche-wiederbewaldung-in-nord-gondar-athiopien</link>
		
		<dc:creator><![CDATA[dschmelz]]></dc:creator>
		<pubDate>Mon, 04 May 2020 14:47:26 +0000</pubDate>
				<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?post_type=portfolio&#038;p=870</guid>

					<description><![CDATA[BOKU Klimaschutzprojekte Nachhaltiges Management von Weide und Wald Um den Problemen der Entwaldung in Äthiopien zu begegnen, wurde im Rahmen des BOKU Klimaschutzprojektes in Nord-Gondar ein partizipativer Prozess mit den lokalen Stakeholdern gestartet. Es wurden sogenannten „Auszäunungsgebiete“ festgelegt, die durch Umzäunung vor Beweidung geschützt werden. Das ermöglicht eine kontrollierte Aufforstung und eine natürliche Regeneration der [&#8230;]]]></description>
		
		
		
			</item>
		<item>
		<title>Aufforstung und Agroforstwirtschaft in San Miguel / Costa Rica (Ausfinanziert)</title>
		<link>https://xn--klimaneutralitt-elb.boku.ac.at/projects/aufforstung-und-agroforstwirtschaft-in-san-miguel-costa-rica/?utm_source=rss&#038;utm_medium=rss&#038;utm_campaign=aufforstung-und-agroforstwirtschaft-in-san-miguel-costa-rica</link>
		
		<dc:creator><![CDATA[dschmelz]]></dc:creator>
		<pubDate>Mon, 04 May 2020 14:42:18 +0000</pubDate>
				<guid isPermaLink="false">https://xn--klimaneutralitt-elb.boku.ac.at/?post_type=portfolio&#038;p=866</guid>

					<description><![CDATA[BOKU Klimaschutzprojekte Lokales Engagement mit globaler Wirkung Tropische Regenwälder sind die artenreichsten Ökosysteme der Erde und zugleich unabkömmlich für die Stabilisierung des globalen Klimas. Im Jänner 2016 wurde begonnen, eine Fläche von 14.6 ha wieder zu bewalden und in einen Sekundärregenwald überzuführen. Damit sollen ca. 4.400 Tonnen CO2 durch oberirdische und unterirdische CO2-Speicherung aus der [&#8230;]]]></description>
		
		
		
			</item>
	</channel>
</rss>
