<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Kommentare für Klimaneutralität BOKU	</title>
	<atom:link href="https://xn--klimaneutralitt-elb.boku.ac.at/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://xn--klimaneutralitt-elb.boku.ac.at</link>
	<description>Klimaneutralität BOKU</description>
	<lastBuildDate>Thu, 04 Aug 2022 07:50:10 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0.1</generator>
</channel>
</rss>
